/* body centre color: #f9f9f9; */

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('woff2'),
  url('fonts/Poppins/Poppins-SemiBold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('fonts/Poppins/Poppins-Light.ttf') format('woff2'),
  url('fonts/Poppins/Poppins-Light.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "PoppinsLight", serif;
}

.content, .bio-content, .contact-content, .post-list{
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

img {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body{
  /*animation: fadeInAnimation ease 3s;*/
  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: forwards;*/

  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  @media (max-width: 1081px) {
    text-align: center;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  font-family: "Poppins", sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;

  padding: 1rem;
  margin-bottom: 1vw;
}

ul{
  list-style-type: none;
}

/* intro stuff begins */

.intro-parent{
  max-width: 75vw;
  margin: 0 auto;
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 2rem;
  background-color: #6a6a6a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0px;
}


.intro-img > img {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
  margin-left: 1vw;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*.intro-img {*/
/*  max-width: 40vw;*/
/*  margin: 0 auto;*/
/*  margin-bottom: 1vw;*/
/*  margin-top: 1vw;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  padding: 0.1rem;*/
/*  padding-left: 10vw;*/
/*}*/

.intro{
  color: white;
  vertical-align: middle;
}

/* intro stuff ends */

/* homepage containers */

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.body-image {
  width: 50%;
  height: 100%;
}

.body-image img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-text {
  width: 50%;
  padding: 0 20px;
}

.body-text h2, .body-text h3, .body-text p {
  text-align: left;
  @media (max-width: 1081px) {
    text-align: center;
  }
}

.body-container:nth-child(even) .body-text h2,
.body-container:nth-child(even) .body-text h3,
.body-container:nth-child(even) .body-text p {
  text-align: right;
  @media (max-width: 1081px) {
    text-align: center;
  }
}

/* homepage ends */

/* projects */

#da-logo {
  max-height: 150px;
  max-width: 150px;
  width: auto;
  height: auto;
  position: relative;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.current-role{
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: center;
  max-width: 75vw;
  margin: 0 auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 2rem;
  background-color: darkgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#role-text{
  max-width: 70%;
}

#da-box{
  width: 30%;
  align-items: center;
  vertical-align: middle;
}

#da-box > img{

}

@media (max-width: 1081px) {
  .current-role {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  #da-box{
    align-items: center;
    align-content: center;
    margin-bottom: 2vh;
  }

  .body-container {
    flex-direction: column;
  }

  .body-image {
    width: 100%;
    height: auto;
  }

  .body-text {
    width: 100%;
  }

  .body-container {
    flex-direction: column;
  }

  .body-image {
    width: 100%;
    height: auto;
  }

  .body-text {
    width: 100%;
  }

  .intro-parent {
    flex-direction: column;
  }

  .intro-img {
    margin-top: 1vw;
    width: 100%;
    height: auto;
  }

  .intro-img > img {
    margin-top: 1vw;
  }

  .intro {
    width: 100%;
  }
}

  .more-section {
    max-width: 75vw;
    margin: 0 auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }

  /* project page ends */
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  h1 > a {
    color: white;
    text-decoration: none;
  }

  h1 > a:hover {
    color: rgba(118, 170, 255, 0.77);
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 10px rgba(20, 20, 20, 1);
  }

  li > a {
    color: black;
    text-decoration: none;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    @media (max-width: 1081px) {
      text-align: center;
    }
  }

  #navbar {
    z-index: 9999;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

  #navbar a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
  }

  #navbar a:hover {
    color: rgba(118, 170, 255, 0.77);
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 50px;
  }


  /* buttons */
  .square-button {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    @media (max-width: 1081px) {
      text-align: center;
    }
  }

  .square-button:hover {
    background-color: rgba(0, 63, 164, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .square-button span {
    display: block;
    width: 100%;
    height: 100%;
  }

  .square-button-old {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
  }

  .square-button-old:hover {
    background-color: rgba(0, 63, 164, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .square-button-old span {
    display: block;
    width: 100%;
    height: 100%;
  }

  .wide-button {
    display: inline-block;
    width: 400px;
    height: 40px;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
  }

  .wide-button:hover {
    background-color: rgba(0, 63, 164, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .wide-button span {
    display: block;
    width: 100%;
    height: 100%;
  }


  /* end buttons */
  /* bio */
  .bio-content {
    max-width: 75vw;
    margin: 0 auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .bio-content > img {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
  }

  .bio-content > p {
    text-indent: 4em;
  }

  .container-btn {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    text-align: right;
    @media (max-width: 1081px) {
      text-align: center;
    }
  }

  #signature {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }

  /* bio ends */
  /* contact page */
  .contact-content {
    max-width: 75vw;
    text-align: center;

    margin: auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  /* contact page ends */
  /* blog page */
  .post-list {
    max-width: 75vw;
    text-align: center;
    margin: auto;
    margin-bottom: 1vw;
    margin-top: 1vw;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }

  .post-button {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-align: left;
    @media (max-width: 1081px) {
      text-align: center;
    }
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .post-button:hover {
    background-color: #f0f0f0;
  }

  .post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }

  .post-date {
    color: #777;
    font-size: 0.9rem;
  }

@media (max-width: 1081px) {
  h2, h3{
      text-align: center;
  }
}

/* blog page ends */

/* misc */

/* end misc (what??) */
