body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #222;*/
    color: #fff;
    font-family: Arial, sans-serif;
    background: #919191;
    background: linear-gradient(90deg, rgba(0, 169, 255, 0.6) 0%, rgb(147, 195, 203) 50%, rgba(0, 34, 107, 1) 100%);
}

.main-screen {
    text-align: center;
    position: absolute;
    z-index: 10;
}

.block-button {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 18px;
    /*background-color: #444;*/
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    background-color: #002e6c;
}

.block-button:hover {
    background-color: #555;
}

canvas {
    display: block;
    margin: 0 auto;
}

#sg-logo{
    max-width: 20vw;
    max-height: 50vh;
}